.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: gray;
}

.image {
    width: 100px;
    height: auto;
}

.total {
    display: flex;
    justify-content: end;
}

.totall {
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 10px;
    background-color: gray;
}

.form {
    width: 350px;
}

input {
    border-radius: 10px;
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    text-align: center;
}

.form {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid gray;


}

h3 {
    text-align: center;
}

.customh2 {
    text-align: center;
    text-transform: uppercase;
    color: red;
    border: 5px solid red;
}